*, *:before, *:after {
    box-sizing: border-box;
}
body {
    font-family: Helvetica, sans-serif;
    font-size: 17px;
    min-width: 520px;
}
a {
    color: #364f6b;
}
a.noUnderline {
    text-decoration: none;
}
.bold {
    font-weight: bold;
}
span.small {
    font-size: 13px;
}
span.bold {
    color:#112d4e;
}
span.code {
    font-family: "Courier New", monospace;
    font-size: 13px;
    padding: 1px;
    background: #dbe2ef;
}
.outer {
    display: block;
    width: 100%;
    margin-bottom: 300px;
}
.inner {
    display: block;
    margin: 0 auto;
    width: 800px;
}
h1, h2, h3 {
    font-family: Cambria, serif;
    color: #112d4e;
}
h2 {
    margin: 40px 0px 20px 0px;
}
h3 {
    margin: 0px;
}
h3 + p {
    margin: 5px 0px 15px 15px;
}
h2 + p, h2 + p ~ p {
    margin: 10px 0px 5px 15px;
}
p.note {
    background: #3f72af;
    color: white;
    padding: 1px;
}
p.note span {
    background: #112d4e;
    color: #dbe2ef;
    padding: 3px;
}
p.sub {
    padding-left: 50px;
}
table {
    width: 100%;
    margin-top: 30px;
}
table thead {
    background: #112d4e;
    color:  #dbe2ef;
}
table thead td {
    text-align: center;
    font-weight: bold;
}
table tbody {
    background: #dbe2ef;
}
table tbody td {
    padding-left: 5px;
    font-size: 15px;
}
table tbody td:first-child + td {
    font-family: "Courier New", monospace;
}