*, *:before, *:after {
    box-sizing: border-box;
}
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    min-width: 520px;
}
a {
    text-decoration: none;
    color: #40514e;
    font-weight: bold;
}
a::after {
    content: "🔗";
}
.bold {
    font-weight: bold;
}
span.small {
    font-size: 13px;
}
span.bold {
    color:#112d4e;
}
span.code {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 13px;
    padding: 1px;
    background: #dbe2ef;
    white-space: nowrap;
}
.outer {
    display: block;
    width: 100%;
    margin-bottom: 300px;
}
.inner {
    display: block;
    margin: 0 auto;
    width: 800px;
}
h1, h2, h3 {
    font-family: Cambria, serif;
    color: #112d4e;
}
h2 {
    margin: 40px 0px 20px 0px;
}
h2 + p, h2 + p ~ p {
    margin: 10px 0px 5px 15px;
}
h3 {
    margin: 20px 0px;
}
h3.top {
    margin: 5px 0px;
}
h3.top + p {
    margin-top: 0px;
}
p.note {
    background: #3f72af;
    color: white;
    padding: 1px;
}
p.note span {
    background: #112d4e;
    color: #dbe2ef;
    padding: 3px;
}
p.sub {
    padding-left: 50px;
}
table {
    width: 100%;
    margin-top: 10px;
}
table thead {
    background: #112d4e;
    color:  #dbe2ef;
}
table thead td {
    text-align: center;
    font-weight: bold;
}
table tbody {
    background: #dbe2ef;
}
table tbody td {
    padding-left: 5px;
    font-size: 15px;
}
table tbody tr td:first-child + td, table tbody tr td:first-child + td + td + td {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 13px;
}
table.numbered {
    counter-reset: rowNumber;
}
table.numbered thead tr::before {
    display: table-cell;
    content: "No.";
    padding-right: 0.3em;
    text-align: right;
}
table.numbered tbody tr::before {
    display: table-cell;
    counter-increment: rowNumber;
    content: counter(rowNumber) ".";
    padding-right: 0.3em;
    text-align: right;
}